[Match]
Name=br0

[Network]
Address=10.8.20.35/24
LinkLocalAddressing=no
IPv6Token=::35
IPv6AcceptRA=true

DNS=127.0.0.1
Domains=home.nna774.net

VLAN=br0.50

[Route]
Destination=10.8.0.0/16
Gateway=10.8.20.1
