[Unit]
Description=update dns
After=network.target

[Service]
ExecStart=/usr/local/bin/update-ddns
Type=oneshot
User=nobody

[Install]
WantedBy=multi-user.target
